@font-face {
  font-family: "Inter";
  font-display: swap;
  font-weight: 400;
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-weight: 600;
  src: url("./fonts/Inter-SemiBold.woff2") format("woff2");
}

header {
  background: linear-gradient(to right, #fedd2c, #f9c201);
  height: 80px;
}

header .container,
footer .container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 64px;
}
main .menu,
.new-items,
.popular,
.promotion,
.events,
.institution {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 64px;
}

.popular-item-4 h3{
  letter-spacing: -0.1px;
}
.popular-item-4 p{
  letter-spacing: 0;
}

main ul {
  display: flex;
  justify-content: space-between;
}

.cards-img {
  margin-bottom: -3px;
}

main a {
  display: block;
  position: relative;
  width: fit-content;
}

.menu a::before,
.promotion a::before,
.events a::before,
.institution a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, transparent 1px, rgba(0, 0, 0, 0.5) 1px, transparent);
  border-radius: 20px;
}
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  margin: 32px 0;
  margin-top: 32.5px;
  margin-bottom: 31.5px;
}
.new-items .title{
  letter-spacing: -0.005em;
}
.popular .title{
  margin-bottom: 31px;
  letter-spacing: -0.003em;
}
.promotion .title{
  margin-bottom: 31px;
  letter-spacing: 0;
}
.events .title{
  margin-bottom: 31px;
  padding-top: 1px;
  letter-spacing: 0.01em;
}
.institution .title{
  padding-top: 2px;
  letter-spacing: 0.01px;
}
.institution li{
  margin-top: -1px;
}

.footer-row-one .time{
  padding-top: 2px;
}

.footer-row-two{
  margin-top: -2.5px;
}
.footer-div-store svg{
  margin-top:2.5px;
  margin-left : 3.8px;
}

main .menu p {
  position: absolute;
  bottom: -8.5px;
  left: 16px;
  letter-spacing:0.5px;
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}


.menu-item-2,
.new-items-item-2,
.popular-item-2 {
  margin: 0 32px;
}

.popular-item-1 p{
  letter-spacing: 0;
}

header .logo svg {
  color: #1C1C1C;
  padding-top: 1.82rem;
  padding-bottom: 1.809rem;
  transition: 0.2s ease;
}


header nav ul,
footer nav ul{
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
header nav ul{
  gap: 24px;
}
footer nav ul{
  gap: 32px;
}

header nav ul li a,
footer nav ul li a{
  white-space: nowrap;
  letter-spacing: 0.01em;
}
header nav{
  margin-top:-3px;
  margin-left:130px;
  margin-right: 130px;
  padding-top: 31.5px;
}
footer nav{
  margin-left: 149px;
  margin-bottom: 0.01em;
  padding-top: 11px;
}

.call {
  display: block;
  font-style: normal;
}
.number {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #555555;
  text-align: right;
  text-decoration: none;
  margin-top: 20.5px;
  letter-spacing: 0.015rem;
  margin-right: -3px;
  font-feature-settings: "case" on;
  transition: 0.2s ease; 
}
footer .number {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #f4f4f4;
  text-align: start;

  margin-bottom: 2px;
  margin-top: -3px;
  transition: 0.2s ease;
}
.time {
  display: block;
  color: #555555;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  margin-right: -2px;
  margin-top: -0.5px;
}
footer .time {
  color: #a6a6a6;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

header nav a,
footer nav a {
  color: #555555;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s ease;
}

body {
  margin: 0;
  min-width: 1440px;
  font-family:'Inter', sans-serif;
}


#body-div-banner {
  background-color: black;
  color: white;
  padding: 12px 64px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content:center;
}
#body-div-banner span{
  letter-spacing:0.01rem;
  margin-right: -7px;
}

#body-div-banner svg {
  margin-left: 18px;
  transition: 0.2s ease;
}

.header-div-profile,
.footer-div-social,
.footer-div-payment{
  margin: auto 0;
}

.header-div-profile {
  display: flex;
  padding-bottom: 5px;
  margin-left: 17px;
}

#user svg {
  margin-top: 1px;
  padding: 12px 18px;
  border: 2px solid;
  border-radius: 16px;
  margin-right: 4px;
  transition: 0.2s ease;
}

#basket svg {
  padding: 0;
  padding-top: 5px;
  padding-left: 12px;
  margin-bottom: 4px;
}
#basket svg :hover{
  --basket-bg:white;
  --basket-fg: #1c1c1c;
}
.new-items p,
.popular p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  letter-spacing: 0;
}
ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
}
button {
  padding: 16px 24px;
  color: #1c1c1c;
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  transition: 0.2s ease;
}


#body-div-banner button:hover,
.events button:hover{
  filter: invert(100%);
}
.new-items button:hover,
.popular button:hover{
  background-color: #E8E8E8;
  color: #393939;
}

li h3 {
  color: #1c1c1c;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding-top: 1.5px;
  margin-bottom: 17px;
}
.new-items-item-1 h3{
  letter-spacing:-0.07px;
}
li p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;

  margin-top: -13px;
}

.menu-item-3,
.new-items-item-3,
.popular-item-3 {
  margin-right: 32px;
}

main .menu,
.new-items ul,
.popular ul,
.promotion ul,
.events ul,
.institution ul {
  margin-bottom: 29px;
}

main {
  padding-bottom: 35px;
}

.badge {
  position: absolute;
  width: 12%;
  top: 8px;
  right: 2.7%;
  border-radius: 8px;
}
.badge-front {
  position: absolute;
  width: 12%;
  top: 8px;
  right: 17%;
  border-radius: 8px;
}

.promotion-item-1,
.events-item-1,
.institution-item-1 {
  margin-right: 32px;
}

.discount,
.event-date,
.time-left,
.event-time,
.event-discount,
.soon,
#complete,
.open-hours {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 8px;
  border-radius: 8px;
}
.discount,
.event-date,
.time-left {
  top: 32px;
  left: 5%;
  color: white;
  background-color: #00000099;
}
.time-left{
  left:32px;
  letter-spacing: 0.01em;
}


.event-time,
.event-discount {
  top: 32px;
  left: 126px;
  color: white;
  background-color: #00000099;
}
.event-discount {
  left: 124px;
}

.soon {
  top: 32px;
  right: 5%;
  color: #1c1c1c;
  background-color: #fedd2c;
}
.institution .soon{
  right: 32px;
  letter-spacing: 0.03em;
}

#complete {
  top: 9%;
  right: 5%;
  color: white;
  background-color: #727272;
}

.open-hours {
  top: 32px;
  left: 218px;
  color: white;
  background-color: #00000099;
  letter-spacing: 0.005em;
}

.events button {
  color: #1c1c1c;
  background-color: #FFFFFF;
  border: 2px solid #1c1c1c;
  padding-top: 15px;
  margin-top: 3px;
  border-radius: 16px;
  padding-bottom: 13px;
  transition: 0.2s ease;
}

.promotion p {
  padding-bottom: 15px;
}
.promotion {
  margin-top: 3px;
}

.promotion-item-1-para-1,
.promotion-item-2-para-1,
.promotion-item-1-para-2,
.promotion-item-2-para-2{
  position: absolute;
  bottom: 27px;
  left: 32px;
  color: white;
  font-weight: 600;
  font-size: 34px;
  line-height: 32px;
}
.promotion-item-1-para-1{
  letter-spacing: -1px;
}
.promotion-item-2 p{
  letter-spacing: -1.2px;
}
.promotion-item-1-para-2{
  letter-spacing: -1.35px;
}

.promotion-item-1-para-2,
.promotion-item-2-para-2 {
  bottom: -13px;
}

.promotion-item-2-para-2{
  letter-spacing: 0em;
}

.events {
  margin-top: 2.5px;
}

.events p{
  position: absolute;
  bottom: 0.06em;
  left: 0.9em;
  color: white;
  font-weight: 600;
  font-size: 34px;
  line-height: 32px;
}
.events-item-1 p{
  letter-spacing: -1.06px;
}
.events-item-2 p{
  letter-spacing: -1.3px;
}

.institution {
  margin-top: 30px;
  margin-bottom: 1px;
}
.institution ul {
  margin-top: 1px;
}
.institution p {
  position: absolute;
  bottom: 0;
  left: 32px;
  color: white;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}
.institution-item-1 p{
  letter-spacing:-0.01px;
  font-feature-settings: "case" on;
}
.institution-item-2 p{
  letter-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
footer {
  background-color: #1c1c1c;
  color: white;
  margin-top: -1px;
  padding-top: 0px;
}
.footer-row-one,
.footer-row-two,
.footer-row-three {
  display: flex;
  justify-content: space-between;
}
.footer-row-one{
  padding-top: 0.5px;
}
footer .call {
  padding: 0;
  margin: 0;
}
footer .container {
  flex-direction: column;
  gap: 32px;
  padding-top: 35px;
  padding-bottom: 20px;
}
header nav :hover,
header .number:hover {
  color: #1C1C1C;
}
footer .number:hover{
  color:#a6a6a6;
}

footer nav a{
  color: #f4f4f4;
  transition: 0.2s ease;
}
footer nav :hover {
  color: #a6a6a6;
}

.footer-div-social svg,
.footer-div-payment svg {
  color: #a6a6a6;
  padding: 8px;
  border-radius: 8px;
  background-color: #393939;
  transition: 0.2s ease;
}
.footer-div-social svg:hover {
  color: #ffffff;
}
.footer-div-store a {
  color: #a6a6a6;
}

.footer-div-store svg {
  --triangle-opacity: 0.5;
  transition: 0.2s ease;
}

.footer-div-store svg:hover {
  color: white;
  --triangle-opacity: 1;
}

header svg:hover{
  color:#FFFFFF;
}
footer .logo {
  color:#FFFFFF;
  display: flex;
  align-self: center;
  margin-top:-2px;
  transition: 0.2s ease;
}
footer .logo:hover{
  color:#a6a6a6;
}

.footer-row-three,
#last-line {
  color: #a6a6a6;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.text #middle {
  margin: 0 16px;
}
.text {
  display: flex;
  align-items: center;
}
.text a {
  transition: 0.2s ease;
  text-decoration: none;
}

hr{
  width:1312px; 
  height:0;
  border: none;
  border-top:1px solid #393939;
  margin-bottom: -17px;
}

#last-line {
  text-align: center;
  padding-top: 3px;
}
#last-line a {
  color: #a6a6a6;
  transition: 0.2s ease;
}
#last-line a:hover {
  color: white;
}
#internship{
  text-underline-offset: 3px;
}
.text a {
  color: #a6a6a6;
  transition: 0.2s ease;
}
.text a:hover {
  color: white;
}

.footer-div-social a{
  margin-left: 3.5px;
}

.footer-row-three {
  margin-top: -13px;
  margin-bottom: -17.5px;
}
.footer-row-three p{
  margin-right: 4px;
  margin-top: 13.3px;
}
.footer-div-payment svg{
  margin-top: 4.5px;
  margin-left: 4px;
}

.popular {
  margin-top: 3px;
}
#body-div-banner button,
#user,
#basket {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  transition: 0.2s ease;
}


.new-items a,
.popular a {
  text-decoration: none;
}

.new-items button,
.popular button{
font-family: Inter;
font-weight: 600;
font-size: 18px;
line-height: 24px;
text-align: center;
border-radius: 14px;
transition: 0.2s ease;
}
 
#pizza, .soup, #hot-dishes, #salad,
.cards-img{
  display: block;
  width: 304px;
  height: 304px;
  border-radius: 16px;
  background-size: cover;
}
#pizza{
  background-image: url("./images/pizza.webp");
}

.soup{
  background-image: url("./images/soup.webp");
}

#hot-dishes{
  background-image: url("./images/hot-dishes.webp");
}

#salad{
  background-image: url("./images/salad.webp");
}

#chinese-egg-soup{
  background-image: url("./images/new-items/chinese-egg-soup.webp");
}

#paellea{
  background-image: url("./images/new-items/paellea.webp");
}

#beef-burgienon{
  background-image: url("./images/new-items/beef-burgienon.webp");
}

#broken-cucumbers{
  background-image: url("./images/new-items/broken-cucumbers.webp");
}


#pepperoni{
  background-image: url("./images/new-items/pepperoni.webp");
}

#pear-gorgonzola{
  background-image: url("./images/new-items/pear-gorgonzola.webp");
}

#tom-yum-with-seafood{
  background-image: url("./images/new-items/tom-yum-with-seafood.webp");
}

.menu ul{
  margin-bottom: 3px;
}

.promote-event-institute{
  display: block;
  width: 640px;
  height: 360px;
  border-radius: 16px;
  background-size:cover;
  background-position: center;
}

#promotion-1{
  background-image: url("./images/promotion/promotion-1.webp");
}
#promotion-2{
  background-image: url("./images/promotion/promotion-2.webp");
}
#events_01{
  background-image: url("./images/promotion/events_01.webp");
}
#events_02{
  background-image: url("./images/promotion/events_02.webp");
}
#institution_01{
  background-image: url("./images/promotion/institution_01.webp");
}
#institution_02{
  background-image: url("./images/promotion/institution_02.webp");
}

.menu li p{
  letter-spacing: 0;
}