@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("./fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
}

header {
  background: linear-gradient(to right, #fedd2c, #f9c201);
  height: 80px;
}

header .container,
footer .container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 64px;
}
main #menu,
#new-items,
#popular,
#promotion,
#events,
#institution {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 64px;
}
#promotion img,
#events img,
#institution img{
  padding-bottom: 0.5px;
}

#popular .col-three p{
  letter-spacing: 0.004em;
}
.popular-list-four h3{
  letter-spacing: 0.002em;
}


#popular .title{
  margin-bottom: 31px;
}
#promotion .title{
  margin-bottom: 31px;
}
#events .title{
  margin-bottom: 31px;
}
#menu .title{
  margin-bottom: 31.5px;
}


main ul {
  display: flex;
  justify-content: space-between;
}

#menu img,
.cards-img {
  height: 304px;
  width: fit-content;
}

.cards-img {
  margin-bottom: -7px;
}

main a {
  display: block;
  position: relative;
  width: fit-content;
}

main #menu a::before,
#promotion a::before,
#events a::before,
#institution a::before {
  content: "";
  position: absolute;
  bottom: 1%;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, transparent 1px, rgba(0, 0, 0, 0.5) 1px, transparent);
  border-radius: 20px;
}
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.03em;
  margin: 32px 0;
  margin-left:0.03rem;
  margin-top: 32.5px;
  margin-bottom: 31.5px;
}

#institution li{
  margin-top: -1px;
}
#institution .title{
  padding-top: 2px;
}
#events .title{
  padding-top: 1px;
  letter-spacing: 0.04em;
}
footer{
  margin-top: -1px;
  padding-top: 0px;
}

.footer-row-one .time{
  padding-top: 2px;
}

.footer-row-two{
  margin-top: -2.5px;
}
/* .store{
  margin-top:2.5px;
}
#apple{
  margin-right: 4px;
} */
.footer-row-two .store-icon svg{
  margin-top:2.5px;
  margin-left : 3.8px;
}

main #menu p {
  position: absolute;
  bottom: -4.5px;
  left: 16px;
  letter-spacing:0.5px;
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.col-three p{
  letter-spacing: 0.02em;
}

.col-two {
  margin: 0 32px;

}
.col-three {
  margin-right: 32px;
}

header img {
  padding-top: 1.788rem;
  padding-bottom: 1.809rem;
}
header nav,
footer nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav{
  margin-top:-3px;
  margin-left:130px;
  margin-right: 130px;
}
header nav a,
footer nav a{
  letter-spacing: 0.01em;
}
footer nav {
  gap: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 149px;
  margin-bottom: 0.01em;
}
.call {
  display: block;
  font-style: normal;
}
.number {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #555555;
  text-align: right;
  text-decoration: none;
  margin-top: 20.5px;
  letter-spacing: 0.015rem;
  margin-right: -1.5px;
  font-feature-settings: "case" on; 
}

.time {
  display: block;
  color: #555555;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  margin-right: -2px;
  margin-top: -0.5px;
}

header nav a,
footer nav a {
  color: #555555;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  transition: color 0.2s ease;
}

body {
  margin: 0;
  min-width: 1440px;
  font-family: Inter, "sans-serif";
}

main img,
li {
  width: 100%;
  border-radius: 14px;
}

#banner {
  background-color: black;
  color: white;
  padding: 12px 64px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content:center;
}
#banner span{
  letter-spacing:0.01rem;
  margin-right: -5px;
}

#banner.hidden {
  opacity: 0;
  visibility: hidden;
}

#banner svg {
  margin-left: 18px;
}

.icon {
  margin: auto 0;
}
header .icon {
  display: flex;
  padding-bottom: 5px;
  margin-left: 17px;
}

#user svg {
  margin-top: 1px;
  padding: 12px 18px;
  border: 2px solid;
  border-radius: 16px;
  margin-right: 4px;
}
#basket svg {
  padding: 0;
  padding-top: 5px;
  padding-left: 12px;
  margin-bottom: 4px;
}

header .logo {
  padding-top: 0.03125rem;
}

#new-items p,
#popular p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limits to 2 lines, adds '...' */
  overflow: hidden;
}
ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
}
button {
  padding: 16px 24px;
  color: #1c1c1c;
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
#banner button:hover,
header button:hover,
#events button:hover{
  filter: invert(100%);
}
#new-items button:hover,
#popular button:hover{
  background-color: #E8E8E8;
  color: #393939;
}
#promotion img,
#events img{ 
  object-fit: cover;
}

li h3 {
  color: #1c1c1c;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding-top: 1.5px;
  letter-spacing:0.2px;
  margin-bottom: 17px;
}
#new-items-header-first{
  letter-spacing:0.05px;
}
li p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
}
#new-items-para-three{
  letter-spacing: 0.005em;

}

main #menu,
#new-items ul,
#popular ul,
#promotion ul,
#events ul,
#institution ul {
  margin-bottom: 29px;
}

main {
  padding-bottom: 35px;
}

.badge {
  position: absolute;
  width: 12%;
  top: 1.9%;
  right: 2.7%;
  border-radius: 8px;
}
.badge-front {
  position: absolute;
  width: 12%;
  top: 1.8%;
  right: 17%;
  border-radius: 8px;
}

li p {
  margin-top: -13px;
}

.list-one {
  margin-right: 32px;
}

#promotion img,
#events img,
#institution img {
  width: 640px;
  height: 360px;
}
#promotion ul,
#events ul,
#institution ul {
  height: 360px;
}

/* Shared base styles */
.discount,
.event-date,
.time-left,
.event-time,
.event-discount,
.soon,
#complete,
.open-hours {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 8px;
  border-radius: 8px;
}
.discount,
.event-date,
.time-left {
  top: 32px;
  left: 5%;
  color: white;
  background-color: #00000099;
}
.time-left{
  left:32px;
  letter-spacing: 0.01em;
}


.event-time,
.event-discount {
  top: 32px;
  left: 126px;
  color: white;
  background-color: #00000099;
}
.event-discount {
  left: 124px;
}


/* Group C: Top-Right item */
.soon {
  top: 32px;
  right: 5%;
  color: #1c1c1c;
  background-color: #fedd2c;
}
#institution .soon{
  right: 32px;
  letter-spacing: 0.03em;
}

#complete {
  top: 9%;
  right: 5%;
  color: white;
  background-color: #727272;
}

.open-hours {
  top: 32px;
  left: 218px;
  color: white;
  background-color: #00000099;
  letter-spacing: 0.005em;
}

#events button {
  color: #1c1c1c;
  background-color: #FFFFFF;
  border: 2px solid #1c1c1c;
  margin-top: 8px;
  padding-top: 15px;
}

#promotion p {
  padding-bottom: 15px;
}
#promotion {
  margin-top: 3px;
}

#promotion .firstLine,
#promotion .secondLine {
  position: absolute;
  bottom: 32px;
  color: white;
  font-weight: 600;
  font-size: 34px;
  line-height: 32px;
  letter-spacing: -0.0025em;
}
#promotion .secondLine {
  bottom: -8.5px;
  left: 32px;
}
#promotion .list-one .secondLine{
  letter-spacing: -0.007em;
}
.promotion-list-two .firstLine{
  letter-spacing: -0.005em;
  left: 31px;
}
#promotion .list-one .firstLine{
  left: 32px;
}



#events {
  margin-top: 2.5px;
}

#events p{
  position: absolute;
  bottom: 0.17em;
  left: 0.9em;
  color: white;
  font-weight: 600;
  font-size: 34px;
  line-height: 32px;
  letter-spacing: 0.00005em;
}


#events button {
  margin-top: 3px;
  border-radius: 17px;
  padding-bottom: 13px;
}
#institution ul {
  margin-top: 1px;
}

main #institution p {
  position: absolute;
  bottom: 0.19em;
  left: 33px;
  letter-spacing: 0em;
  color: white;
  font-weight: 600;
  font-size: 34px;
  line-height: 32px;
}
#institution .list-one p{
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  bottom: 4.6px;
  left: 32px;
  letter-spacing:0.9px;
  font-feature-settings: "case" on;
}

#institution {
  margin-top: 30px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
footer {
  background-color: #1c1c1c;
  color: white;
}
.footer-row-one,
.footer-row-two,
.footer-row-three {
  display: flex;
  justify-content: space-between;
}
.footer-row-one{
  padding-top: 0.5px;
}
footer .call {
  padding: 0;
  margin: 0;
}
footer .container {
  flex-direction: column;
  gap: 32px;
  padding-top: 35px;
  padding-bottom: 32px;
}
footer .number {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.7px;
  color: #f4f4f4;
  text-align: start;

  margin-bottom: 2px;
  margin-top: -3px;
}
footer .time {
  color: #a6a6a6;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
footer .icon svg {
  color: #a6a6a6;
  padding: 8px;
  border-radius: 8px;
  background-color: #393939;
  transition: color 0.2s ease;
}
.footer-row-one .icon svg:hover {
  color: #ffffff;
}
.store-icon a {
  color: #a6a6a6;
}

.store-icon svg {
  --triangle-opacity: 0.5;
  transition: all 0.2s ease;
}

.store-icon svg:hover {
  color: white;
  --triangle-opacity: 1;
}

footer .logo {
  filter: invert(100%);
  display: flex;
  align-self: center;
  margin-top:-2px;
}
header nav :hover,
header .call :hover {
  color: #1C1C1C;
}

footer nav a {
  color: #f4f4f4;
  transition: color 0.2s ease;
}
footer nav :hover {
  color: #a6a6a6;
}
.footer-row-three,
#last-line {
  color: #a6a6a6;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.text #middle {
  margin: 0 16px;
}
.text {
  display: flex;
  align-items: center;
}
.text a {
  transition: color 0.2s ease;
  text-decoration: none;
}
.payment-icon svg {
  padding: 4px 8px;
  border-radius: 4px;
}
hr{
  width:1312px; 
  height:1px;
  border-color: #393939;
  margin-bottom: -17px;
}

#last-line {
  text-align: center;
  padding-top: 3px;
}
#last-line a {
  color: #a6a6a6;
  transition: color 0.2s ease;
}
#last-line a:hover {
  color: white;
}
#preax{
  text-underline-offset: 3px; /* Adjust this value as needed */
}
.text a {
  color: #a6a6a6;
}
.text a:hover {
  color: white;
}

.footer-row-one .icon a{
  margin-left: 3.5px;
}

#text-align{
  letter-spacing:0.05em;
}

.footer-row-three {
  margin-top: -13px;
  margin-bottom: -20px;
}
.footer-row-three p{
  margin-right: 4px;
}
.footer-row-three .icon svg{
  margin-top: 4px;
  margin-left: 4px;
}

#new-items {
  margin-top: -1px;
}
#popular {
  margin-top: 3px;
}
#banner button,
.icon #user,
.icon #basket {
  /* Removes default button styling */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  /* Shapes the button exactly to the image size */
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}


#new-items a,
#popular a {
  text-decoration: none;
}

#new-items button,
#popular button{
font-family: Inter;
font-weight: 600;
font-size: 18px;
line-height: 24px;
text-align: center;
border-radius: 14px;
}
 